body{
    margin:0;
}
.slide-container{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(10px,50px);
    
    
}
.arrow{
    cursor:pointer;
    position:absolute;
    top:40%;
    color:black;
    background-color: white;
    padding:8px 10px;
    border-radius: 50%;
    font-size:50px;
    font-weight:bold;
    
}
img{
    height:400px;
    width:400px;
    
}
.next{
    right:100px;
}
.prev{
    left:100px;
}
.slide{
    display: none;
    /* position: absolute; */
    /* top:20px; */
    box-shadow:0px 0px 30px 15px #728FCE;
}





@media(max-width:796px){
    .arrow{
        cursor:pointer;
        position:absolute;
        top:40%;
        color:black;
        background-color: white;
        padding:3px 4px;
        border-radius: 50%;
        font-size:15px;
        font-weight:bold;
        
    }
    img{
        height:200px;
        width:200px;
    }
}
@media(max-width:480px){
    .arrow{
        cursor:pointer;
        position:absolute;
        top:40%;
        color:black;
        background-color: white;
        padding:3px 4px;
        border-radius: 50%;
        font-size:15px;
        font-weight:bold;
        
    }
    img{
        height:200px;
        width:200px;
    }
    .next{
        right:30px;
    }
    .prev{
        left:30px;
    }
}


   